@use "../base/colors.scss" as color;

.header {
    padding: 3rem 4rem;

    &__logo {
        width: 13rem;

        img {
            width: 100%;
            position: relative;
            top: -2rem;
        }
    }

    &__nav-list {
        list-style-type: none;
    }

    &__nav-item {
        color: color.$white;
        font-size: 1.6rem;
    }
}