@use "../base/colors.scss" as color;
@use "../base/breakpoints.scss" as media;

.introduction {
    margin-top: 20rem;

    @include media.laptops {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introduction__content {
        padding: 0 3rem;
        max-width: 59rem;

        @include media.tablets {
            margin: 0 auto;
            text-align: center;
        }

        @include media.laptops {
            flex: 1;
            margin: 0;
            max-width: 100%;
            text-align: left;
            padding: 0 5rem;
        }
    }

    .introduction__name-text,
    .introduction__role-text {
        font-size: 2.2rem;
        color: color.$white;
        font-weight: 600;
        transition: all .2s;

        @include media.mobiles {
            font-size: 2.6rem;
        }

        @include media.tablets {
            font-size: 3.2rem;
        }

        @include media.desktops {
            font-size: 4rem;
        }
    }

    .introduction__role-text {
        color: color.$purple-secondary;
        margin-top: .5rem;

        @include media.desktops {
            margin-top: 0;
        }
    }

    .introduction__description {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        line-height: 2.6rem;
        color: color.$gray;
        transition: all .2s;

        @include media.mobiles {
            font-size: 1.5rem;
            line-height: 2.7rem;
        }

        @include media.tablets {
            font-size: 1.6rem;
            line-height: 3rem;
        }

        @include media.laptops {
            font-size: 1.7rem;
            line-height: 3rem;
        }
    }

    .introduction__container-avatar {
        text-align: center;
        position: relative;
        z-index: 1;
        margin-top: 4rem;

        @include media.laptops {
            flex: 1;
            margin-top: 0;
        }
    }

    .avatar-container {
        position: relative; 
        z-index: 1;
        background: url("@/assets/Gradient.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding: 3rem 0;

        .avatar {
            width: 20rem;
            border-radius: 50%;
            position: relative;

            @include media.mobiles {
                width: 25rem;
            }

            @include media.desktops {
                width: 30rem;
            }
        }
    }

    .introduction__icons-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        animation: rotate 10s linear infinite;
        display: none;

        @include media.laptops {
            display: block;
        }

        .introduction__icon {
            position: absolute;
            background: rgba(217, 217, 217, 0.05);
            padding: 1.5rem;
            width: max-content;
            border-radius: 1rem;
            border: 1px solid rgba(97, 90, 99, 0.363);
            font-size: 4rem;
            color: color.$purple-primary;
            // color: color.$white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .icon-1 {
            top: 75%;
            right: 80%;
            animation: moveIcon 2s ease 1.9s infinite alternate;
        }

        .icon-2 {
            top: 5%;
            right: 10%;
            animation: moveIcon 2s ease 2.9s  infinite alternate;
        }

        .icon-3 {
            top: 10%;
            animation: moveIcon 2s ease .6s infinite alternate;

            @include media.desktops {
                right: 75%;
            }
        }
    }
}

@keyframes moveIcon {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(1rem, -3rem, 0);
    }
}