@use "../base/colors.scss" as color;
@use "../base/breakpoints.scss" as media;

.projects {
    margin-top: 20rem;
    padding: 0 3rem;

    @include media.laptops {
        padding: 0 5rem;
    }

    &__title {
        font-size: 2.2rem;
        color: #fff;
        transition: all .2s;
        font-weight: 500;

        span {
            color: color.$purple-secondary;
        }

        @include media.mobiles {
            font-size: 3rem;
        }

        @include media.tablets {
            font-size: 3.2rem;
        }

        // @include media.desktops {
        //     font-size: 4rem;
        // }
    }

    &__container {
        margin-top: 7rem;
    }

    &__item {
        width: max-content;
    }

    &__image {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 99%;
            display: block;
            background-color: rgba(0, 0, 0, .5);
            border-radius: 2rem 2rem 0 0;
            z-index: 5;
        }

        img {
            width: 45rem;
            border-radius: 2rem 2rem 0 0;
            border: 2px solid #24242462;
            border-bottom: none;
        }

        // &::after {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     width: 100%;
        //     height: 0.3rem;
        //     bottom: 0.1rem;
        //     border-radius: 1rem;
        //     background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
        // }

        .projects__cover-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }

        .projects__name-cover {
            font-size: 1.9rem;
            color: color.$white;
            font-weight: 500;
        }

        .projects__cover-techs {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            gap: 1rem;

            svg {
                font-size: 2.1rem;
                color: color.$purple-primary;
            }
        }
    }

    .projects__buttons {
        margin-top: .2rem;
        padding: 1.5rem;
        background-color: #03000541;
        border-radius: 0 0 2rem 2rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        button {
            padding: .7rem 2rem;
            background-color: color.$purple-dark;
            font-weight: 600;
            color: #fff;
            border-radius: 3rem;
        }
    }
}