@use "../base/colors.scss" as color;
@use "../base/breakpoints.scss" as media;

.projects {
    margin-top: 20rem;
    padding: 0 3rem;

    @include media.laptops {
        padding: 0 5rem;
    }

    &__title {
        font-size: 2.2rem;
        color: #fff;
        transition: all .2s;
        font-weight: 500;

        span {
            color: color.$purple-secondary;
        }

        @include media.mobiles {
            font-size: 3rem;
        }

        @include media.tablets {
            font-size: 3.2rem;
        }

        // @include media.desktops {
        //     font-size: 4rem;
        // }
    }

    &__container {
        margin-top: 5rem;
    }

    &__item {
        width: max-content;
        cursor: pointer;
        transition: all .3s; 

        &:hover {
            transform: scale(1.1);
        }

        &:hover .projects__buttons {
            transform: translateY(0);
            opacity: 100;
            z-index: 1;
        }
    }

    &__image {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 0.3rem;
            bottom: 0.3rem;
            background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
        }

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 99%;
            display: block;
            background-color: rgba(0, 0, 0, .5);
            border-radius: 2rem 2rem 0 0;
            z-index: 5;
        }

        img {
            width: 45rem;
            border-radius: 2rem 2rem 0 0;
            transition: all .2s;
        }

        .projects__cover-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }

        .projects__name-cover {
            font-size: 1.9rem;
            color: color.$white;
            font-weight: 500;
        }

        .projects__cover-techs {
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            gap: 1rem;

            svg {
                font-size: 2.1rem;
                color: color.$purple-primary;
            }
        }
    }

    .projects__buttons {
        margin-top: -.3rem;
        padding: 1.5rem;
        background-color: #03000541;
        border-radius: 0 0 2rem 2rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        transition: all .7s ease;
        transform: translateY(-7rem);
        opacity: 0;
        position: relative;
        z-index: -5;

        button {
            padding: .7rem 2rem;
            background-color: color.$purple-dark;
            font-weight: 600;
            color: #fff;
            border-radius: 3rem;
            border: 2px solid color.$purple-dark;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                background-color: transparent;
            }
        }
    }
}


@keyframes showDown {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}