@use "colors.scss" as color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: color.$body-color;
    font-family: "Geist", serif;
    margin-bottom: 50rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
}

.container {
    max-width: 128.0rem;
    margin: 0 auto;
}